<header class="head">
  <div class="headL">
    <img class="logo" src="../../assets/imgs/logoSmall.png">摄像头管理系统
    <!--<b  class='btn' (click)="bodyAdd()"></b>-->
  </div>

  <div class="headR">
    <!--<img class="userImg headL" src="../../assets/imgs/user_icon.png" alt="">-->
    <div class="headList headR">
      <a  class="user headL"  href="javascript:;" (click)="this.show = !this.show;">{{cameraService.userDetial.customerName}}<i class="arrow" [ngClass]="{on:this.show}"></i></a>
      <ul *ngIf='this.show'>
        <li><a routerLink="/smartHome/rePwd">修改密码</a></li>
        <!--<li><a (click)="resetPwd()">重置密码</a></li>-->
        <li (click)="logout()"><a class="pointer">退出登录</a></li>
      </ul>
    </div>
  </div>
</header>
