<headBox></headBox>

<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9  col-md-9  col-lg-10 main">
    <div class="account">
      <h3 class="title">日志监控</h3>

      <div class="deviceTab" role="navigation">
        <ul class="nav nav-tabs">

          <li role="presentation" [ngClass]='{active:activeTab==0}' (click)=' activeTab=0 '><a href="javascript:;" >全部日志</a></li>
          <li role="presentation" [ngClass]='{active:activeTab==1}' (click)=' activeTab=1 '><a href="javascript:;">手机端日志</a></li>
          <li role="presentation" [ngClass]='{active:activeTab==2}' (click)=' activeTab=2 '><a href="javascript:;">服务器日志</a></li>
          <li role="presentation" [ngClass]='{active:activeTab==3}' (click)=' activeTab=3 '><a href="javascript:;">3200网关日志</a></li>
        </ul>
      </div>
      <div  *ngIf=' activeTab==0 ' class="table-responsive device">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item borderBN deviceListB">
              <div>日志1</div>
              <div>序列号</div>
              <div>Mac地址</div>
              <div>状态</div>
            </li>
          </ul>
        </div>
      </div>

      <div  *ngIf=' activeTab==1 ' class="table-responsive device">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item borderBN deviceListB">
              <div>日志2</div>
              <div>序列号</div>
              <div>Mac地址</div>
              <div>状态</div>
            </li>
          </ul>
        </div>
      </div>

      <div  *ngIf=' activeTab==2 ' class="table-responsive device">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item borderBN deviceListB">
              <div>日志3</div>
              <div>序列号</div>
              <div>Mac地址</div>
              <div>状态</div>
            </li>
          </ul>
        </div>
      </div>

      <div  *ngIf=' activeTab==3 ' class="table-responsive device">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item borderBN deviceListB">
              <div>日志4</div>
              <div>序列号</div>
              <div>Mac地址</div>
              <div>状态</div>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>

<footBox></footBox>
