<headBox></headBox>
<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9 col-md-9 col-lg-10 main">
    <div class="subscribe">
      <h3 class="title">消息订阅</h3>
      <div class="panel panel-default">
        <ul class="list-group subscribeList">
          <li class="list-group-item borderBN ">
            <div>消息内容</div>
            <div>站内信</div>
            <div>邮件</div>
            <div>短信</div>
            <div></div>
          </li>
        </ul>

        <ul class="list-group subscribeList">
          <li class="list-group-item">
            <div>短信费不足提醒通知</div>
            <div><input name='msg' type="checkbox" value="1" [disabled]="!editMsg"></div>
            <div><input name='msg' type="checkbox" value="2" [disabled]="!editMsg"></div>
            <div><input name='msg' type="checkbox" value="3" [disabled]="!editMsg"></div>
            <div class="pointer" (click)="editMsg=!editMsg">{{editMsg?'保存':'编辑'}}</div>
          </li>
          <li class="list-group-item">
            <div>用户统计分析表</div>
            <div><input name='userChart' type="checkbox" value="1" [disabled]="!editUserChart"></div>
            <div><input name='userChart' type="checkbox" value="2" [disabled]="!editUserChart"></div>
            <div><input name='userChart' type="checkbox" value="3" [disabled]="!editUserChart"></div>
            <div class="pointer" (click)="editUserChart=!editUserChart">{{editUserChart?'保存':'编辑'}}</div>
          </li>
          <li class="list-group-item">
            <div>设备统计分析表</div>
            <div><input name='deviceChart' type="checkbox" value="1" [disabled]="!editDeviceChart"></div>
            <div><input name='deviceChart' type="checkbox" value="2" [disabled]="!editDeviceChart"></div>
            <div><input name='deviceChart' type="checkbox" value="3" [disabled]="!editDeviceChart"></div>
            <div class="pointer" (click)="editDeviceChart=!editDeviceChart">{{editDeviceChart?'保存':'编辑'}}</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footBox></footBox>
