<headBox></headBox>

<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9  col-md-9  col-lg-10 main">
    <div class="account">
      <h3 class="title">内部接口调用情况</h3>
      <div class="joggleSort">
        接口类别：
        <select class="select" #select1 (change)='this.Gtab=!this.Gtab;'>
          <option [selected]="!this.Gtab">sensor1</option>
          <option [selected]="this.Gtab">sensor2</option>
        </select>
      </div>



      <div  *ngIf='!this.Gtab' class="table-responsive device">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item borderBN deviceListB">
              <div>接口1</div>
              <div>总调用次数</div>
              <div>平均响应时间</div>
              <div>故障次数</div>
            </li>
          </ul>
        </div>
      </div>

      <div  *ngIf='this.Gtab' class="table-responsive device">
        <div class="panel panel-default">
          <ul class="list-group">
            <li class="list-group-item borderBN deviceListB">
              <div>接口2</div>
              <div>总调用次数</div>
              <div>平均响应时间</div>
              <div>故障次数</div>
            </li>
          </ul>
        </div>
      </div>



    </div>
  </div>
</div>

<footBox></footBox>
