
  <div class="login container-fluid">
    <img class="userImg" src="" alt="">

    <div class="row" *ngIf="!this.apiKey">
      <form #form="ngForm" (ngSubmit)="form.form.valid && submit(form.value)" novalidate  role="form" class="form col-sm-12 col-md-4 col-md-offset-4 ">
        <div class="form-group" [ngClass]="{ 'has-error': form.submitted && !userName.valid }">
          <!--<label class="col-sm-2 control-label">用户名：</label>-->
          <div >
            <input required name="userName" [(ngModel)]="user.userName" #userName="ngModel" type="text" class="form-control input" placeholder="请输入用户名" autocomplete="off">
            <div *ngIf="form.submitted && !userName.valid" class="text-danger">用户名必须输入！</div>
          </div>
        </div>
        <div class="form-group">
          <!--<label class="col-sm-2 control-label">密码：</label>-->
          <div [ngClass]="{'has-error': form.submitted && !password.valid }">
            <input required minlength="6" maxlength="12" [(ngModel)]="user.password" name="password" #password="ngModel" type="password" class="form-control input" placeholder="请输入密码" autocomplete="off">
            <div *ngIf="form.submitted && !password.valid" class="text-danger">密码必须输入,至少要6位！</div>
          </div>
        </div>
        <div class="form-group ">
          <div class="codeBox clearfix">
            <input class="pull-left code" type="text" name="code" [(ngModel)]="user.code" #code="ngModel" autocomplete="off">
            <input  class="code1 pull-right" type="button" name="code1" value={{vode}}  (click)="refresh()">
            <div *ngIf='form.submitted &&!(vode==user.code)' class="text-danger">验证码有误</div>
          </div>
        </div>
        <input type="submit" value="登录" class="btn btn-info"  [disabled]="!password.valid||!userName.valid||!mark"/>

      </form>
    </div>
    <div class="rowM" *ngIf="this.apiKey">
      <div>您已经登录</div>
      <div><a routerLink="/index">去首页看看</a></div>
    </div>

  </div>
