<headBox></headBox>
<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9  col-md-9 col-lg-10 main">
    <div class="productEdit">
      <h3 class="title">产品菜单编辑</h3>
      <p class="addSort pointer"></p>
      <div class="panel panel-default">
        <form #form="ngForm" (ngSubmit)="form.form.valid && editMenu(form.value)" novalidate  role="form" class="form">
          <div class="form-group ">
            <div>
              <label class="control-label">产品ID：</label>
              <input required type="text" #categoryId="ngModel" [(ngModel)]="editData.categoryId" name="categoryId" value='{{editData.categoryId}}' autocomplete="off">
              <div *ngIf='form.submitted && (!categoryId.valid)' class="text-danger">产品ID不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">产品名称：</label>
              <input required type="text" #annotation="ngModel" [(ngModel)]="editData.annotation" name="annotation" value='{{editData.annotation}}' autocomplete="off">
              <div *ngIf='form.submitted && (!annotation.valid)' class="text-danger">产品名称不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">应用ID：</label>
              <input required type="text" #appId="ngModel" [(ngModel)]="editData.appId" name="appId" value={{editData.appId}} autocomplete="off">
              <div *ngIf='form.submitted && (!appId.valid)' class="text-danger">应用ID不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">产品图片：</label>
              <input required type="text" #categoryAvatar="ngModel" [(ngModel)]="editData.categoryAvatar" name="categoryAvatar" value={{editData.categoryAvatar}} autocomplete="off">
              <div *ngIf='form.submitted && (!categoryAvatar.valid)' class="text-danger">产品图片不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">英文名称：</label>
              <input required type="text" #englishName="ngModel" [(ngModel)]="editData.englishName" name="englishName"  value={{editData.englishName}} autocomplete="off">
              <div *ngIf='form.submitted && (!englishName.valid)' class="text-danger">英文名称不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">排序id：</label>
              <input type="text" #groupOrder="ngModel" [(ngModel)]="editData.groupOrder" name="groupOrder" value={{editData.groupOrder}} autocomplete="off">
              <div *ngIf='form.submitted && (!groupOrder.valid)' class="text-danger">排序id不能为空</div>
            </div>
          </div>
          <div class="form-group" *ngIf="editData.categoryClass==2">
            <div class="codeBox clearfix">
              <label class="control-label">父级ID：</label>
              <input required type="text" #parentId="ngModel" [(ngModel)]="editData.parentId" name="parentId" value={{editData.parentId}} autocomplete="off">
              <div *ngIf='form.submitted && (!parentId.valid)' class="text-danger">父级ID不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">状态：</label>
              <input required type="text" #statusCode="ngModel" [(ngModel)]="editData.statusCode" name="statusCode" value={{editData.statusCode}} autocomplete="off">
              <div *ngIf='form.submitted && (!statusCode.valid)' class="text-danger">状态不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <label class="control-label">版本限制：</label>
              <input required type="text" #versionLimit="ngModel" [(ngModel)]="editData.versionLimit" name="versionLimit" value={{editData.versionLimit}} autocomplete="off">
              <div *ngIf='form.submitted && (!versionLimit.valid)' class="text-danger">版本限制不能为空</div>
            </div>
          </div>
          <div class="form-group ">
            <div class="codeBox clearfix">
              <input type="button" value="取消" class="btn btn-info" (click)="goBack()"/>
              <input type="submit" value="提交" class="btn btn-info" [disabled]="!categoryId.valid||!annotation.valid||!appId.valid||!categoryAvatar.valid||!englishName.valid||!groupOrder.valid||!statusCode.valid||!versionLimit.valid"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<footBox></footBox>







