
<headBox></headBox>
<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9 col-md-9 col-lg-10 main">
    <div class="subscribe">
      <h3 class="title">外部接口调用情况</h3>
      <div class="panel panel-default">
        <ul class="list-group subscribeList">
          <li class="list-group-item borderBN">
            <div>服务提供方</div>
            <div>调用次数</div>
            <div>成功</div>
            <div>失败</div>
          </li>
        </ul>

        <ul class="list-group subscribeList">
          <li class="list-group-item">
            <div>云吧</div>
            <div>135</div>
            <div>123</div>
            <div>3</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<footBox></footBox>
