<headBox></headBox>

<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9  col-md-9  col-lg-10 main">
    <div class="userLog">
      <h3 class="title">重点用户和设备监控</h3>

      <div class="deviceTab" role="navigation">
        <ul class="nav nav-tabs">
          <li role="presentation" [ngClass]='{active:activeTab==0}' (click)=' activeTab=0 '><a href="javascript:;" >用户监控</a></li>
          <li role="presentation" [ngClass]='{active:activeTab==1}' (click)=' activeTab=1 '><a href="javascript:;">设备监控</a></li>
        </ul>
      </div>

      <div  *ngIf=' activeTab==0 ' class="table-responsive">

        <div class="userLogTab">
          <ul class="nav nav-pills">
            <li role="presentation" [ngClass]="{on:userLogTab==0}"><a href="javascript:;" (click)="userLogTab=0">最活跃用户</a></li>
            <li role="presentation" [ngClass]="{on:userLogTab==1}"><a href="javascript:;" (click)="userLogTab=1">故障最多设备</a></li>
          </ul>

          <ul class="nav nav-pills">
            <li role="presentation" [ngClass]="{on:userLogDate==0}"><a href="javascript:;" (click)="userLogDate=0">日</a></li>
            <li role="presentation" [ngClass]="{on:userLogDate==1}"><a href="javascript:;" (click)="userLogDate=1">月</a></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <ul class="list-group userLogListB">
            <li class="list-group-item borderBN">
              <div>用户名</div>
              <div>手机号</div>
              <div>邮箱</div>
            </li>
          </ul>
          <ul *ngIf='userLogTab==0' class="list-group userLogList">
            <li class="list-group-item borderBN">
              <div>00000</div>
              <div>18328502413</div>
              <div>908881931@qq.com</div>
            </li>
          </ul>
          <ul *ngIf='userLogTab==1' class="list-group userLogList">
            <li class="list-group-item borderBN">
              <div>qqqqq</div>
              <div>18328502413</div>
              <div>908881931@qq.com</div>
            </li>
          </ul>
        </div>
      </div>

      <div  *ngIf=' activeTab==1 ' class="table-responsive">
        <div class="userLogTab">
          <ul class="nav nav-pills">
            <li role="presentation" [ngClass]="{on:deviceLogTab==0}"><a href="javascript:;" (click)="deviceLogTab=0">最活跃设备</a></li>
            <li role="presentation" [ngClass]="{on:deviceLogTab==1}"><a href="javascript:;" (click)="deviceLogTab=1">故障率最高设备</a></li>
          </ul>
          <ul class="nav nav-pills">
            <li role="presentation" [ngClass]="{on:deviceLogDate==0}"><a href="javascript:;" (click)="deviceLogDate=0">日</a></li>
            <li role="presentation" [ngClass]="{on:deviceLogDate==1}"><a href="javascript:;" (click)="deviceLogDate=1">月</a></li>
          </ul>
        </div>

        <div class="panel panel-default">
          <ul class="list-group userLogListB">
            <li class="list-group-item borderBN">
              <div>序列号</div>
              <div>Mac地址</div>
              <div>登录状态</div>
            </li>
          </ul>
          <ul *ngIf='deviceLogTab==0' class="list-group userLogList">
            <li class="list-group-item borderBN">
              <div>1111111</div>
              <div>Ma43414143141c地址</div>
              <div>登1413413413录状态</div>
            </li>
          </ul>
          <ul *ngIf='deviceLogTab==1' class="list-group userLogList">
            <li class="list-group-item borderBN">
              <div>22222222</div>
              <div>Ma43414143141c地址</div>
              <div>登1413413413录状态</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<footBox></footBox>
