*{list-style: none;}
.sidebar{padding:5% 4%;height:auto;}
/*.treeview-menu{display: none;}*/
.treeview{position: relative}
.pull-right-container{content: ''}
.treeview>a{display:block;width:100%;height:50px;line-height:50px;color:#fff;cursor: pointer;text-indent: 2rem;}
.treeview>a:hover{color:#fff;background: #2e8b79;}
.treeview>a:hover i,.treeview .on i{color:#00C7B3;}
.treeview .on{background: #2e8b79;}
.treeview>a span{display: inline-block;line-height: 40px;vertical-align:middle;}
.treeview>a i,.treeview-menu a i{display: inline-block;width:20px;height:20px;line-height: 20px;vertical-align:middle;font-size: 22px;font-weight: 200;}
.fa{margin:0 3% 0 0;}
.fa-angle-left{float: right;margin-top:15px; text-align: center;}
.fa-angle-left:before{ font-style: normal; content: '+'; }
.active .fa-angle-left:before{content: '-'; }
.fa-circle-o{margin-right: 5%;}
.treeview-menu a{display:block;width:80%;margin:5% auto;padding-left:2rem;color:#666;font-size: 14px;}
.treeview-menu a:hover{color:#00C7B3;text-decoration: none;}

.fa-customer{background: url("../../assets/imgs/customer.png")}
.fa-device{background: url("../../assets/imgs/device.png")}
.fa-role{background: url("../../assets/imgs/role.png")}
.fa-subaccount{background: url("../../assets/imgs/subaccount.png")}
.fa-log{background: url("../../assets/imgs/log.png")}

