<aside class="main-sidebar">

  <ul class="sidebar-menu">
    <li class="treeview" *ngFor="let list of cameraService.userDetial.functionArray">
      <a *ngIf="list.functionId=='1001'" routerLink="/smartHome/customer" routerLinkActive="on"><i class="fa fa-customer"></i>客户管理</a>
      <a *ngIf="list.functionId=='1002'" routerLink="/smartHome/device" routerLinkActive="on"><i class="fa fa-device"></i>设备管理</a>
      <a *ngIf="list.functionId=='1003'" routerLink="/smartHome/subaccount" routerLinkActive="on"><i class="fa fa-subaccount"></i>子账户管理</a>
      <a *ngIf="list.functionId=='1004'" routerLink="/smartHome/roles" routerLinkActive="on"><i class="fa fa-role"></i>角色管理</a>
      <a *ngIf="list.functionId=='1005'&&list.permission.log" routerLink="/smartHome/leasedLog" routerLinkActive="on"><i class="fa fa-log"></i>日志管理</a>
      <a *ngIf="list.functionId=='1003'" routerLink="/smartHome/group" routerLinkActive="on"><i class="fa fa-customer"></i>分组管理</a>
    </li>
  </ul>
</aside>

