<div class="index">
  <div class="staticHead">
    <img class="img60" src="../../assets/imgs/login_1.png" alt="">
    <span>工地实况摄像头管理平台</span>
    <p>
      <a routerLink="/download" >下载工地实况APP</a>
      <a class="dif" routerLink="/login">登录摄像头管理平台</a>
      <!--<a class="dif" routerLink="/groupLogin">登录分组</a>-->
    </p>
  </div>
</div>
<div class="staticContain">
  <div class="indexTop">
    <div class="indexTit">
      <!--<h1>工地实况摄像头</h1>-->
      <h1>用视频实时关注您想看的世界</h1>
      <hr class="hrBlue">
    </div>
    <img class="img670" src="../../assets/imgs/index_1.png" alt="">
    <div class="indexTit">
      <h1 class="fff">和她们一起使用"工地实况"</h1>
      <hr class="hrFFF">
    </div>
    <a routerLink="/login">立即体验</a>
    <ul>
      <li><img src="../../assets/imgs/fanke.png" alt=""></li>
      <li><img src="../../assets/imgs/shangshui.png" alt=""></li>
      <li><img src="../../assets/imgs/yenova.png" alt=""></li>
      <li><img src="../../assets/imgs/shitu.png" alt=""></li>
    </ul>
    <ul>
      <li><img src="../../assets/imgs/shenghuojia.png" alt=""></li>
      <li><img src="../../assets/imgs/daye.png" alt=""></li>
      <li><img src="../../assets/imgs/vanke.png" alt=""></li>
      <li><img src="../../assets/imgs/boloni.png" alt=""></li>
    </ul>
    <p>顶级装修公司的共同选择</p>

  </div>
  <div class="indexLine">
      <div class="indexLL">
        <h2>专业的后台管理系统</h2>
        <hr class="hrBlue">
        <p>综合管理全部装修工地，全程记录装修进程，清晰的客户管理、设备管理；四宫格、九宫格、十六宫格随时查看。</p>
        <a routerLink="/login"><img class="img20" src="../../assets/imgs/index_2_2.png" alt="">新增角色管理，让管理工作更加事半功倍</a>
        <a routerLink="/login"><img class="img20" src="../../assets/imgs/index_2_3.png" alt="">日志管理，可以是查看之前的管理记录</a>
      </div>
      <div class="indexLR">
        <img class="img670" src="../../assets/imgs/index_2_1.png" alt="">
      </div>
  </div>
  <div class="indexLineR">
    <div class="indexLL">
      <img class="img670" src="../../assets/imgs/index_3_2.png" alt="">
    </div>
    <div class="indexLR">
      <img class="img40" src="../../assets/imgs/index_3_1.png" alt="">
      <h2>定制化的多设备管理平台</h2>
      <hr class="hrBlue">
      <p>你可以将你的设备分享给租赁给其他公司，无论在PC、手机或pad端上，他们都能随时查看管理设备，同时用户可以随时查看施工现场；也可随需求定制相关功能模块。</p>
    </div>
  </div>
  <div class="indexLine">
    <div class="indexLL">
      <img class="img40" src="../../assets/imgs/index_4_1.png" alt="">
      <h2>多角色管理让管理更轻松</h2>
      <hr class="hrBlue">
      <p>管理的角色不相同，职责也各不相同，针对管理需求定制多角色管理系统，让公司高层、监理、设计师都能便捷的管理工地。</p>
    </div>
    <div class="indexLR">
      <img class="img670" src="../../assets/imgs/index_4_2.png" alt="">
    </div>
  </div>
  <div class="indexLineR">
    <div class="indexLL">
      <img class="img550" src="../../assets/imgs/index_5_2.png" alt="">
    </div>
    <div class="indexLR">
      <img class="img40" src="../../assets/imgs/index_5_1.png" alt="">
      <h2>多功能的硬件支持</h2>
      <hr class="hrBlue">
      <p>装修行业定制生产，设备通过4G全网通提供服务，并向装修公司提供MIFI流量设备，不限流量，解决新房没有WiFi和宽带问题，实时随时观看。</p>
    </div>
  </div>
  <div class="indexLine">
    <h1>为您提供综合的管理系统</h1>
    <h6>让您赢得更多装修工程成交率</h6>
    <ul>
      <li>
        <img src="../../assets/imgs/index_6.png" alt="">
        <h3>多账号管理</h3>
        <p>根据不同的管理职责</p>
        <p>设计针对性管理功能</p>
      </li>
      <li>
        <img src="../../assets/imgs/index_7.png" alt="">
        <h3>批量操作管理</h3>
        <p>快捷的批量操作功能</p>
        <p>让管理更便捷、省时</p>
      </li>
      <li>
        <img src="../../assets/imgs/index_8.png" alt="">
        <h3>九宫格查看</h3>
        <p>远程监控，监理放心</p>
        <p>全天在线，避免失误</p>
      </li>
    </ul>
  </div>
</div>
<div class="staticFoot">
  <div class="sFootInbox clearfix">
    <ul class="sFootL">
      <li class="sFootTit"><span>关于我们</span></li>
      <li><a href="http://www.huadiot.com/synopsis" target="_blank">公司简介</a></li>
      <li><a href="http://www.huadiot.com/contactUs" target="_blank">联系我们</a></li>
    </ul>
    <ul class="sFootL">
      <li class="sFootTit"><span>友情连接</span></li>
      <li><a href="http://www.tianyuantechnology.com/" target="_blank">甜园科技</a></li>
      <li><a href="https://shop137562683.taobao.com/" target="_blank">华迪淘宝店</a></li>
    </ul>
    <ul class="sFootL">
      <li class="sFootTit"><span>APP下载</span></li>
      <li><a href="https://itunes.apple.com/cn/app/gong-di-zhi-bo/id1262880784?mt=8" target="_blank">IOS版下载</a></li>
      <li><a href="http://upgrade-img.5itianyuan.com/software/smarthome/smarthome_jr.apk">安卓版下载</a></li>
    </ul>
    <ul class="sFootR">
      <li class="sFootTit"><span>联系我们</span></li>
      <li>
        <span (click)="this.weixin=!this.weixin">微信：gh_ecb0676b670d</span>
        <img *ngIf="this.weixin" class="img128" src="../../../assets/imgs/wechat.jpg" alt="">
      </li>
      <li><span>电话：18518688062</span></li>
    </ul>
  </div>
  <div class="sFootCopy">
    ©2016-2017  北京华迪世通物联科技有限公司版权所有  京ICP备17008932号-1
  </div>
</div>
