<headBox></headBox>
<div class="container-fluid row">
  <div class="col-sm-3 col-md-3 col-lg-2 sidebar">
    <app-treeview></app-treeview>

  </div>

  <div class="col-sm-9  col-md-9 col-lg-10 main">
    <div class="product">
      <h3 class="title">产品列表（拖拽列表）</h3>
      <p class="addSort pointer"><a (click)="first=!first"> {{first?'取消添加':'添加产品'}} <i>+</i></a></p>
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item borderBN productListB">
            <div>产品类别 <span>{{listLength}}个</span></div>
          </li>
        </ul>
        <!--       <ul class="list-group productListC">
                  <li class="list-group-item">
                    <div class="productBook pointer">
                      <img class="productBigI" src="" alt="">
                      <span>智能网关</span>
                      <b>^</b>
                      <a> 添加 <i>+</i></a>
                    </div>
                    <ul class="list-group productSub">
                      <li class="list-group-item">
                        <div class="productBook">
                          <img class="productBigI" src="" alt="">
                          <span>智能网关</span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="productBook">
                          <img class="productBigI" src="" alt="">
                          <span>智能网关</span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="productBook">
                          <img class="productBigI" src="" alt="">
                          <span>智能网关</span>
                        </div>
                      </li>
                      <li class="list-group-item">
                        <div class="productBook">
                          <img class="productBigI" src="" alt="">
                          <span>智能网关</span>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <div class="productBook pointer">
                      <img class="productBigI" src="" alt="">
                      <span>智能网关</span>
                      <b>^</b>
                      <a> 添加 <i>+</i></a>
                    </div>
                    <ul class="list-group productSub">
                      <li class="list-group-item">
                        <div class="productBook">
                          <img class="productBigI" src="" alt="">
                          <span>智能网关</span>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li class="list-group-item">
                    <div class="productBook pointer">
                      <img class="productBigI" src="" alt="">
                      <span>智能网关</span>
                      <b>^</b>
                      <a> 添加 <i>+</i></a>
                    </div>
                    <ul class="list-group productSub">
                      <li class="list-group-item">
                        <div class="productBook">
                          <img class="productBigI" src="" alt="">
                          <span>智能网关</span>
                        </div>
                      </li>
                    </ul>
                  </li>
                </ul>-->
        <ul class="list-group productListC">
           <li class="list-group-item" *ngFor="let list of productListData;let i=index" >
             <div class="productBook">
               <img class="productBigI" src="{{list.categoryAvatar}}" alt=""> <span class="pointer" (click)="list.isShow=!list.isShow">{{list.annotation}} <b>{{list.versionLimit}}</b></span>
               <b class="pointer glyphicon" (click)="list.isShow=!list.isShow" [ngClass]="{'glyphicon-menu-down':list.isShow,'glyphicon-menu-up':!list.isShow}"></b> <a  *ngIf="list.isShow" href='eoms/category/{{list.categoryId}}'>编辑<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> <a *ngIf="list.isShow" (click)="list.add=!list.add;first=false">{{list.add?'取消':'添加'}}<i>+</i></a>
             </div>
             <ul class="list-group productSub" *ngIf="list.isShow">
               <li class="list-group-item" *ngFor="let sub of list.childCategoryList;">
                 <div class="productBook">
                   <img class="productBigII" src="{{sub.categoryAvatar}}" alt="">
                   <span class="pointer" (click)="sub.isShow=!sub.isShow">{{sub.annotation}}</span>
                   <b class="pointer glyphicon" (click)="sub.isShow=!sub.isShow" [ngClass]="{'glyphicon-triangle-bottom':sub.isShow,'glyphicon-triangle-right':!sub.isShow}"></b> <a  *ngIf="sub.isShow" href="eoms/category/{{sub.categoryId}}">编辑<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> <a *ngIf="sub.isShow" (click)="sub.add=!sub.add;list.add=false;first=false"> {{sub.add?'取消':'添加'}} <i>+</i></a>
                 </div>
                 <ul class="list-group productThird" *ngIf="sub.isShow">
                   <li class="list-group-item" *ngFor="let subT of sub.childrenList;">
                     <div class="productBook">
                       <img class="productBigIII" src="{{subT.actualPicture}}" alt="">
                       <span>{{subT.annotation}}</span> <a href="eoms/commodity/{{subT.commodityId}}">编辑<i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                     </div>
                   </li>
                 </ul>
                 <!--添加三级菜单结束-->
                 <div *ngIf="sub.add" class="menuAddForm">
                   <h3>添加三级新产品类别</h3>
                   <form #form="ngForm" (ngSubmit)="form.form.valid && addChildMenu(form.value)&&sub.add=false" novalidate  role="form" class="form">
                     <div class="form-group ">
                       <div>
                         <label class="control-label">应用ID：</label>
                         <input required type="text" name="appId" value={{this.appid}} disabled autocomplete="off">
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">产品名称：</label>
                         <input required type="text" name="annotation" [(ngModel)]="menuAdd.annotation" #annotation="ngModel" placeholder="请输入产品名称" autocomplete="off">
                         <div *ngIf='form.submitted && (!annotation.valid)' class="text-danger">产品名称不能为空</div>
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">英文名称：</label>
                         <input required type="text" name="englishName" [(ngModel)]="menuAdd.englishName" #englishName="ngModel" placeholder="请输入英文名称" autocomplete="off">
                         <div *ngIf='form.submitted && (!englishName.valid)' class="text-danger">英文名称不能为空</div>
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">vendorCode：</label>
                         <input required type="text" name="vendorCode" [(ngModel)]="menuAdd.vendorCode" #vendorCode="ngModel" placeholder="请输入vendorCode" autocomplete="off">
                         <div *ngIf='form.submitted && (!vendorCode.valid)' class="text-danger">vendorCode不能为空</div>
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">productCode：</label>
                         <input required type="text" name="productCode" [(ngModel)]="menuAdd.productCode" #productCode="ngModel" placeholder="请输入productCode" autocomplete="off">
                         <div *ngIf='form.submitted && (!productCode.valid)' class="text-danger">productCode不能为空</div>
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">排序id：</label>
                         <input type="text" #groupOrderT name="groupOrder" value={{3001+sub.childrenList.length}} disabled autocomplete="off">
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">限制版本号：</label>
                         <input required type="text" name="versionLimit" [(ngModel)]="menuAdd.versionLimit" #versionLimit="ngModel" placeholder="请输入限制版本号" autocomplete="off" (click)="this.tNum=groupOrderT.value;this.parentidT=categoryId.value">
                         <div *ngIf='form.submitted && (!versionLimit.valid)' class="text-danger">限制版本号不能为空</div>
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">应用更新版本：</label>
                         <input required type="text" name="version" [(ngModel)]="menuAdd.version" #version="ngModel" placeholder="请输入应用更新版本" autocomplete="off">
                         <div *ngIf='form.submitted && (!version.valid)' class="text-danger">应用更新版本不能为空</div>
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <label class="control-label">所属产品列表Id：</label>
                         <input type="text" name="categoryId" #categoryId value={{sub.categoryId}} disabled autocomplete="off">
                       </div>
                     </div>
                     <div class="form-group ">
                       <div class="codeBox clearfix">
                         <input type="button" value="取消" class="btn btn-info" (click)="sub.add=!sub.add"/>
                         <input type="submit" value="提交" class="btn btn-info" [disabled]="!annotation.valid||!englishName.valid||!versionLimit.valid||!version.valid||!vendorCode.valid||!productCode.valid"/>
                       </div>
                     </div>
                   </form>
                 </div>
               </li>
             </ul>
             <!--添加二级菜单-->
             <div *ngIf="list.add" class="menuAddForm">
               <h3>添加二级新产品类别 </h3>
               <form #form="ngForm" (ngSubmit)="form.form.valid && addFathertMenu(form.value)&&list.add=false" novalidate  role="form" class="form">
                 <div class="form-group ">
                   <div>
                     <label class="control-label">应用ID：</label>
                     <input required type="text" name="appId" value={{this.appid}} disabled autocomplete="off">
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">产品名称：</label>
                     <input required type="text" name="annotation" [(ngModel)]="menuAdd.annotation" #annotation="ngModel" placeholder="请输入产品名称" autocomplete="off">
                     <div *ngIf='form.submitted && (!annotation.valid)' class="text-danger">产品名称不能为空</div>
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">英文名称：</label>
                     <input required type="text" name="englishName" [(ngModel)]="menuAdd.englishName" #englishName="ngModel" placeholder="请输入英文名称" autocomplete="off">
                     <div *ngIf='form.submitted && (!englishName.valid)' class="text-danger">英文名称不能为空</div>
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">菜单级数：</label>
                     <input required type="text" name="categoryClass"  value="2" disabled autocomplete="off">
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">排序id：</label>
                     <input type="text" #groupOrders name="groupOrders" value= {{2001+list.childCategoryList.length}} disabled autocomplete="off">
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">父级Id：</label>
                     <input type="text" name="parentId" #parentId value= {{list.categoryId}} disabled autocomplete="off">
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">限制版本号：</label>
                     <input required type="text" name="versionLimit" [(ngModel)]="menuAdd.versionLimit" #versionLimit="ngModel" placeholder="请输入限制版本号" autocomplete="off" (click)="this.sNum=groupOrders.value;this.parentid=parentId.value">
                     <div *ngIf='form.submitted && (!versionLimit.valid)' class="text-danger">限制版本号不能为空</div>
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <label class="control-label">应用更新版本：</label>
                     <input required type="text" name="version" [(ngModel)]="menuAdd.version" #version="ngModel" placeholder="请输入应用更新版本" autocomplete="off">
                     <div *ngIf='form.submitted && (!version.valid)' class="text-danger">应用更新版本不能为空</div>
                   </div>
                 </div>
                 <div class="form-group ">
                   <div class="codeBox clearfix">
                     <input type="button" value="取消" class="btn btn-info" (click)="list.add=!list.add"/>
                     <input type="submit" value="提交" class="btn btn-info" [disabled]="!annotation.valid||!englishName.valid||!versionLimit.valid||!version.valid "/>
                   </div>
                 </div>
               </form>
             </div>
           </li>
        </ul>
        <!--添加一级菜单-->
        <div *ngIf="first" class="menuAddForm">
          <h3>添加一级新产品类别</h3>
          <form #form="ngForm" (ngSubmit)="form.form.valid && addFathertMenu(form.value)" novalidate  role="form" class="form">
            <div class="form-group ">
              <div>
                <label class="control-label">应用ID：</label>
                <input required type="text" name="appId" value={{this.appid}} disabled autocomplete="off">
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <label class="control-label">产品名称：</label>
                <input required type="text" name="annotation" [(ngModel)]="menuAdd.annotation" #annotation="ngModel" placeholder="请输入产品名称" autocomplete="off">
                <div *ngIf='form.submitted && (!annotation.valid)' class="text-danger">产品名称不能为空</div>
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <label class="control-label">英文名称：</label>
                <input required type="text" name="englishName" [(ngModel)]="menuAdd.englishName" #englishName="ngModel" placeholder="请输入英文名称" autocomplete="off">
                <div *ngIf='form.submitted && (!englishName.valid)' class="text-danger">英文名称不能为空</div>
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <label class="control-label">菜单级数：</label>
                <input required type="text" name="categoryClass"  value="1" disabled autocomplete="off">
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <label class="control-label">排序id：</label>
                <input type="text" name="groupOrder" #groupOrder value= "00{{(listLength>8?listLength+1:'0'+(listLength+1))}}" disabled autocomplete="off">
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <label class="control-label">限制版本号：</label>
                <input required type="text" name="versionLimit" [(ngModel)]="menuAdd.versionLimit" #versionLimit="ngModel" placeholder="请输入限制版本号" autocomplete="off"   (click)="this.fNum=groupOrder.value">
                <div *ngIf='form.submitted && (!versionLimit.valid)' class="text-danger">限制版本号不能为空</div>
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <label class="control-label">应用更新版本：</label>
                <input required type="text" name="version" [(ngModel)]="menuAdd.version" #version="ngModel" placeholder="请输入应用更新版本" autocomplete="off">
                <div *ngIf='form.submitted && (!version.valid)' class="text-danger">应用更新版本不能为空</div>
              </div>
            </div>
            <div class="form-group ">
              <div class="codeBox clearfix">
                <input type="button" value="取消" class="btn btn-info" (click)="first=!first"/>
                <input type="submit" value="提交" class="btn btn-info" [disabled]="!annotation.valid||!englishName.valid||!versionLimit.valid||!version.valid "/>
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>




    <!--拖拽-->
   <!-- <div id="app">
      <div class="main1">
        <div class="list" draggable="true">这里是列表1的标题 <span class="qq">qqq</span></div>
        <div class="list" draggable="true">这里是列表2的标题 <span class="qq">qqq</span></div>
        <div class="list" draggable="true">这里是列表3的标题 <span class="qq">qqq</span></div>
        <div class="list" draggable="true">这里是列表4的标题 <span class="qq">qqq</span></div>
        <div class="list" draggable="true">这里是列表5的标题 <span class="qq">qqq</span></div>
        <div class="list" draggable="true">这里是列表6的标题 <span class="qq">qqq</span></div>
        <div class="list" draggable="true">这里是列表7的标题 <span class="qq">qqq</span></div>
      </div>
      <div id="recycle">回收站</div>
    </div>-->

    <!--拖拽end-->


  </div>
</div>

<footBox></footBox>







